@model LoanHistory

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>LoanHistory</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LondDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LondDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LondDateTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LondDateTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreationDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VideoGame)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VideoGame.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Client)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Client.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
